.list {
  padding: 20px 15px;
}
.item {
  margin-bottom: 20px;
}
.characterImg {
  width: 100px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}
.name {
  margin-bottom: 5px;
}
