@import-normalize;

html {
  box-sizing: border-box;
}
:root {
  --Montserrat: 'Montserrat', sans-serif;
  --Roboto: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--Montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3 {
  font-weight: 800;
  color: #212121;
}
p {
  font-weight: 500;
  color: #212121;
}
a,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* global styles */
.btn {
  padding: 12px 20px;
  font-family: var(--Montserrat);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 172);
  border-radius: 5px;
  border: none;
  color: #fff;
  transition: background-color 200ms linear;
}
.link {
  font-size: 16px;
  line-height: 1.4;
  color: #212121;
  text-decoration: none;
  transition: color 200ms linear;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
}
.slick-track {
  display: flex !important;
  align-items: baseline !important;
}
